	<div id="errorModal" class="modal" style="display:none;">
		<div class="modal-content">
			<span id="errorMessage"></span>
			<button id="closeErrorModal">Fermer</button>
		</div>
	</div>

	<div id="successModal" class="modal" style="display:none;">
		<div class="modal-content">
			<span id="successMessage"></span>
			<button id="closeSuccessModal">Fermer</button>
		</div>
	</div>