body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #3d3d3d;
    border-radius: 8px;
    background-color: #1e1e1e;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    left: 0;
    background-color: #1e1e1e;
    z-index: 1000;
}

.header h1 {
    align-items: center;
    margin-right: 45%;
}

.title {
    position: absolute;
    right: 40%;
}

.back-arrow {
    margin-right: auto;
}

.back-arrow img {
    width: 16px;
    height: auto;
}

#searchUser {
    position: absolute;
    top: 63%;
    left: 35%;
    width: 63.5%;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background-color: #1e1e1e;
    color: white;
    font-size: 1rem;
    margin-top: 15px;
    z-index: 10;
}

.form-group {
    margin-bottom: 20px;
}

#userList {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    background-color: #1e1e1e;
    border-radius: 10px;
    border: 1px solid #e1e8ed;
    z-index: 1000;
    display: none;
}

h1 {
    flex-grow: 1;
    text-align: center;
    color: aquamarine;
    z-index: 1000;
    margin-top: 5px;
    font-size: 1.2em;
    color: aquamarine;
}

.follower-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

label {
    color: white;
}

#followerList {
    display: none;
    position: absolute;
    background: rgb(41, 41, 41);
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    width: 92%;
}

#followerList.visible {
    display: block;
}


.follower-item:hover {
    background: #000000;
}

.follower-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

span {
    color: aquamarine;
}

input {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    width: 100%;
}

.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #3d3d3d;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
}

.user-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 15%;
    margin-right: 10px;
    object-fit: cover;
}

.user-details {
    color: white;
}

.user-name {
    font-weight: bold;
    margin: 0;
}

.full-name {
    margin: 0;
    font-size: 0.9em;
    color: #a0a0a0;
}

.description {
    font-size: 0.8em;
    color: #a0a0a0;
}

.follow-button {
    background-color: aquamarine;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.follower-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.selected-followers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.selected-follower {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background: #000000;
}

.selected-follower img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.selected-follower .remove-follower {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 12px;
    background-color: aquamarine;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

button:hover {
    background-color: #78e6c0;
}

button,
input {
    width: 100%;
}

@media (min-width: 769px) {
    #form {
        width: 90%;
        position: absolute;
        bottom: 5%;
    }

    #searchUser {
        width: 58%;
        left: 38%;
    }
}

@media (max-width: 768px) {
    #form {
        width: 90%;
    }

    #searchUser {
        left: 48%;
        width: 47%;
    }

    .title {
        position: absolute;
        right: 13%;
    }

}