.footer-container {
    display: flex !important;
    justify-content: space-between !important;
    width: 98% !important; 
    padding: 10px 20px !important;
}

.footer-left {
    flex: 1 !important; 
}

.footer-right {
    display: flex !important;
    gap: 15px !important; /* Espacement entre les icônes */
}

.footer-right img {
    width: 30px !important; /* Ajustez la taille des images selon vos besoins */
    height: auto !important;
}

@media (max-width: 769px){
    .footer-container{
        flex-direction: column !important;
        align-items: center !important;
    }
}