header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000a6; 
    z-index: 999; 
}

#containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
}
li{
    list-style-type: none;
}

nav {
    width: 100%;
}

ul.nav-list {
    display: flex;
    justify-content: space-around; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.nav-list li {
    display: inline-block;
}

ul.nav-list li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
}

ul.nav-list li a span {
    display: block;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
}

ul.nav-list li img {
    width: 28px; 
    height: 28px;
   
}


@media (max-width: 768px) {
    header {
        height: 60px;
    }

    ul.nav-list li a {
        list-style-type: none;
        padding: 10px;
        width: 60px;
        height: 60px;
    }

    ul.nav-list li img {
        list-style-type: none;
        width: 24px; 
        height: 24px;
    }
}

@media (min-width: 769px) {
    header {
        position: fixed;
        top: 10%;
        left: 1.5%;
        width: 60px;
        transition: width 0.3s ease;
    }

    #containerHeader {
        width: 100%;
        height: 60%;
    }

    .nav-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-list li {
        margin-bottom: 15px;
    }

    .nav-list li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 10px;
        white-space: nowrap;
    }

    .nav-list li a img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    .nav-list li a span {
        font-size: 2rem;
       
        transition: opacity 0.3s ease;
        position: absolute;
        left: 50px; 
    }

    ul.nav-list li a span {
        display: block;
        color: white;
        font-size: 20px;
        text-align: center;
        margin-top: 2px;
    }

    header:hover .nav-list li a span {
        opacity: 1;
    }
}