header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000a6; 
    z-index: 1001; 
}

#containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
}
li{
    list-style-type: none;
}

nav {
    width: 100%;
}

ul.nav-list {
    display: flex;
    justify-content: space-around; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.nav-list li {
    display: inline-block;
}

ul.nav-list li a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}

ul.nav-list li a span {
    display: block;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
}

ul.nav-list li a p {
    position: absolute;
    top: -5px;
    left: 120px;
    width: 75%;
    background-color: aquamarine;
    color: black;
    font-size: 10px;
    padding: 1px 3px;
    border-radius: 2px;
    margin: 0;
    z-index: 10;
}

ul.nav-list li img {
    width: 28px; 
    height: 28px;
   
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: #1e1e1e;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    color: white;
    z-index: 1000;
}

.modal-content h2 {
    font-size: 1em;
    margin-bottom: 20px;
    color: #6c757d;;
}

.modal-content ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.modal-content li {
    margin: 15px 0;
}

.modal-content button {
    background-color: aquamarine;
    border: none;
    min-width: 210px;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 1em;
    
}

.modal-content button:hover {
    background-color: #7fffd4;
}

.close {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 5%;
    top: 5%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#Soon {
    color: gray;
}

#containerHeader nav {
    transition: opacity 0.3s ease-in-out;
  }
  
  .nav-scrolled {
    opacity: 0.3; 
  }
  


@media (max-width: 768px) {
    header {
        height: 60px;
    }

    ul.nav-list li a {
        list-style-type: none;

    }

    ul.nav-list li img {
        list-style-type: none;
        width: 24px; 
        height: 24px;
    }

    ul.nav-list li a span{
        display: none;
    }

    .modal {
        position: fixed; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .modal-content {
        top: 20%;
        background-color: #1e1e1e;
        margin: 15% auto;
        padding: 20px;
        border-radius: 8px;
        border: none;
        width: 300px;
        text-align: center;
        color: white;
    
    }

    ul.nav-list li a p{
        position: absolute;
        top: -5%;
        left: 16%;
        width: 32px;
        font-size: 8px;
    }
}

  
@media (min-width: 985px) {
    header {
        position: fixed;
        top: 10%;
        left: 1.5%;
        width: 60px;
        transition: width 0.3s ease;
    }

    #containerHeader {
        width: 100%;
        height: 60%;
    }

    .nav-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-list li {
        margin-bottom: 15px;
    }

    .nav-list li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        padding: 10px;
        white-space: nowrap;
    }

    .nav-list li a img {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    .nav-list li a span {
        font-size: 2rem;
       
        transition: opacity 0.3s ease;
        position: absolute;
        left: 50px; 
    }

    ul.nav-list li a span {
        display: block;
        color: white;
        font-size: 20px;
        text-align: center;
        margin-top: 2px;
    }

    header:hover .nav-list li a span {
        opacity: 1;
    }

    ul.nav-list li a p {
        right: 35px;
    }
}