body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
}

.title {
    flex-grow: 1;
    text-align: center;
    color: aquamarine;
    z-index: 1000;
    margin-top: 5px;
}

h1 {
    font-size: 1.2em;
    color: aquamarine;
    text-align: center;
}

.back-arrow {
    margin-right: auto;
}

.back-arrow img {
    width: 16px;
    height: auto;
}

.projects-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: black;
}

.projects-list {
    list-style-type: none;
    padding: 0;
}

.project-item {
    background-color: #2a2a2a;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
}

.project-members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 30px;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.project-members li {
    text-align: center;
    color: #b0b0b0;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    object-fit: cover;
}

img {
    height: 50px;
}

.project-item h2 {
    color: aquamarine;
    font-size: 1.4em;
}

.project-item p {
    color: #b0b0b0;
}

.project-item a {
    position: absolute;
    right: 10%;
    bottom: 10%;
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}

.project-item a:hover {
    text-decoration: underline;
}

.delete {
    border: none;
    border-radius: 5px;
    width: 98%;
    padding: 5px;
    background-color: red;
    color: white;
}

.delete:hover {
    background-color: #d32f2f;
}

.delete-form {
    margin-bottom: 0;
    /* Supprime la marge du bas pour éviter l'espace supplémentaire */
}

.menu-dropdown {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    background-color: #383d41;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    width: 200px;
}

.menu-dropdown.show {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

.menu-btn {
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.edit-project {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.participant-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* ajuste l'espace entre le nom et le bouton */
    padding: 10px 0;
}

.Btn {
    display: flex;
    align-items: center;
    /* Centrage vertical des éléments */
    justify-content: center;
    /* Centre l'icône initialement */
    width: 45px;
    /* Taille initiale du bouton circulaire */
    height: 45px;
    border: none;
    border-radius: 50%;
    /* Bouton circulaire */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease, border-radius 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: linear-gradient(250deg, #17a2b8 15%, rgb(127, 255, 212) 65%);
}

.sign {
    display: flex;
    align-items: center;
    /* Centrage vertical de l'icône */
    justify-content: center;
    /* Centrage horizontal dans l'espace alloué */
    transition: transform 0.3s ease;
    /* Animation fluide pour déplacer l'icône */
}

.sign svg {
    width: 17px;
    height: 17px;
}

.sign svg path {
    fill: #343a40;
}

.text {
    display: none;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
}

.Btn:hover {
    width: 135px;
    border-radius: 40px;
    justify-content: flex-start;
}

.Btn:hover .sign {
    transform: translateX(0px);
}

.Btn:hover .text {
    display: block;
    opacity: 1;
    margin-right: 5px;
}


.Btn:active {
    transform: translate(2px, 2px);
}

.save-changes,
.cancel-changes {
    border-radius: 8px;
}

.menu-btn:hover+.menu-dropdown {
    display: block;
}

.editable-title[contenteditable="true"],
.editable-description[contenteditable="true"] {
    width: 50%;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#btn-update {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
}

.save-changes,
.cancel-changes {
    margin-top: 10px;
    display: inline-block;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.cancel-changes {
    background-color: red;
    color: white;
}

.selected-followers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.selected-follower {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.selected-follower img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.remove-follower {
    margin-left: auto;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .projects-container {
        left: 0;
        width: 100%;
    }

    h1 {
        left: 39%;
    }

    .project-members {
        display: grid;

    }

    .edit-project {
        left: 28%;
    }
}

@media (hover: none) and (pointer: coarse) {
    .Btn:hover {
        width: 45px;
        border-radius: 50%;
        transition-duration: 0s;
    }

    .Btn:hover .sign {
        padding-left: 0;
    }

    .Btn:hover .text {
        opacity: 0;
        width: 0;
        padding-right: 0;
    }
}