body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
}

.title {
    flex-grow: 1;
    text-align: center;
    color: aquamarine;
    z-index: 1000;
    margin-top: 5px;
}

h1 {
    font-size: 1.2em;
    color: aquamarine;
    text-align: center;
}

.back-arrow {
    margin-right: auto;
}

.back-arrow img {
    width: 16px;
    height: auto;
}

.projects-container {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: black;
}

.projects-list {
    list-style-type: none;
    padding: 0;
}

.project-item {
    background-color: #2a2a2a;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
}

.project-members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 30px;
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.project-members li {
    text-align: center;
    color: #b0b0b0;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    object-fit: cover;
}

.participant-list {}

img {
    height: 50px;
}

.project-item h2 {
    color: aquamarine;
    font-size: 1.4em;
}

.project-item p {
    color: #b0b0b0;
}

.project-item a {
    position: absolute;
    right: 10%;
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}

.project-item a:hover {
    text-decoration: underline;
}

.delete-form {
    display: inline;
    margin-left: -20px;
}

.delete {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: inline;
    border-radius: 8px;
}

.delete img {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

.delete:hover {
    color: rgb(255, 255, 255);
}

.menu-dropdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    height: 100px;
    min-width: 200px;
    text-align: center;
}

.menu-dropdown.show {
    display: block;
    animation: fadeIn 0.3s ease-out;
}

.menu-btn {
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.edit-project {
    display: block;
    position: relative;
    top: 35%;
    left: 33%;
    background-color: aquamarine;
    border-radius: 8px;
}

.participant-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* ajuste l'espace entre le nom et le bouton */
    padding: 10px 0;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background: rgb(255, 135, 65);
    background: linear-gradient(250deg, #17a2b8 15%, rgb(127 255 212) 65%);
}

.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
}

.sign svg {
    width: 17px;
    height: 17px;
}

.sign svg path {
    fill: #343a40
}

.text {
    position: absolute;
    top: 24%;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.3s;
}

.Btn:hover {
    width: 135px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.Btn:hover .sign {
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px, 2px);
}



.save-changes,
.cancel-changes {
    border-radius: 8px;
}

.menu-btn:hover+.menu-dropdown {
    display: block;
}

.editable-title[contenteditable="true"],
.editable-description[contenteditable="true"] {
    width: 50%;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#btn-update {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    gap: 10px;
}

.save-changes,
.cancel-changes {
    margin-top: 10px;
    display: inline-block;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.cancel-changes {
    background-color: red;
    color: white;
}

@media (max-width: 768px) {
    .projects-container {
        left: 0;
        width: 100%;
    }

    h1 {
        left: 39%;
    }

    .project-members {
        display: grid;

    }

    .edit-project {
        left: 28%;
    }
}

@media (hover: none) and (pointer: coarse) {
    .Btn:hover {
        width: 45px;
        border-radius: 50%;
        transition-duration: 0s;
    }

    .Btn:hover .sign {
        padding-left: 0;
    }

    .Btn:hover .text {
        opacity: 0;
        width: 0;
        padding-right: 0;
    }
}