{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/../../assets/css/confidentialite.css">
{% endblock %}

{% block title %}
	<title>Politique de Confidentialité</title>
{% endblock %}

{% block main %}
	<header>
		<a href="/" class="back-arrow"><img src="/../../assets/imgs/flecheBack.png" alt="arrowBack"></a>
			<h1>Politique de Confidentialité</h1>
	</header>
	<section class="confidentialite">
		<p>
			<strong>Dernière mise à jour :</strong>
			27/02/2025</p>

		<h2>1. Collecte des Informations</h2>
		<p>Nous collectons différentes catégories de données pour fournir et améliorer nos services :</p>
		<ul>
			<li>
				<strong>Informations fournies par l'utilisateur :</strong>
				Nom, e-mail, photo de profil, préférences musicales.</li>
			<li>
				<strong>Données d'utilisation :</strong>
				Adresse IP, type de navigateur, pages consultées.</li>
			<li>
				<strong>Contenus partagés :</strong>
				Audio, vidéos, commentaires, publications.</li>
		</ul>

		<h2>2. Utilisation des Données</h2>
		<p>Vos données sont utilisées pour :</p>
		<ul>
			<li>Gérer votre compte et personnaliser votre expérience.</li>
			<li>Améliorer la plateforme et analyser les performances.</li>
			<li>Vous envoyer des notifications et mises à jour.</li>
			<li>Assurer la sécurité du site contre les fraudes.</li>
		</ul>

		<h2>3. Partage des Données</h2>
		<p>Nous ne vendons ni ne louons vos données. Cependant, elles peuvent être partagées avec :</p>
		<ul>
			<li>
				<strong>Prestataires de services :</strong>
				Hébergement, analyse de données, support client.</li>
			<li>
				<strong>Autorités légales :</strong>
				Si requis par la loi.</li>
		</ul>

		<h2>4. Sécurité des Données</h2>
		<p>Nous mettons en place des mesures de sécurité pour protéger vos informations, mais aucun système n'est totalement sécurisé.</p>

		<h2>5. Vos Droits</h2>
		<p>Conformément au RGPD, vous disposez des droits suivants :</p>
		<ul>
			<li>Accès et rectification de vos informations.</li>
			<li>Suppression de votre compte.</li>
			<li>Opposition ou limitation du traitement.</li>
			<li>Portabilité des données.</li>
		</ul>

		<h2>6. Cookies</h2>
		<p>Nous utilisons des cookies pour améliorer votre expérience. Vous pouvez les gérer dans les paramètres de votre navigateur.</p>

		<h2>7. Modifications</h2>
		<p>Nous pouvons modifier cette politique à tout moment. Toute mise à jour sera publiée sur cette page.</p>

		<h2>8. Contact</h2>
		<p>Pour toute question, contactez-nous à
			<a href="mailto:Pulse.Connect@outlook.fr ">Pulse.Connect@outlook.fr
			</a>.</p>
	</section>
{% endblock %}
