{% extends "../layouts/base.twig" %}

{% block style %}
<link rel="stylesheet" href="/../../assets/css/forgot-password.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}

	<form action="/forgot-password" method="POST">
		<label for="mail">Mot de passe oublié</label>
		<input type="email" name="mail" placeholder="Entrez votre adresse e-mail" required>
		<button type="submit">Envoyer un lien de réinitialisation</button>
		<a href="/login">Annuler</a>
	</form>
{% endblock %}
