{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/../../assets/css/login.css">
{% endblock %}

{% block title %}
	<title>{{title}}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<img src="/../../assets/imgs/MaskgroupPC.png" alt="Logo">
		</section>
		<section id="form">
			<div>
				<form action="/login" method="POST">
					<div>
						<h1>Connexion</h1>
					</div>
					<div>
						<label for="mail">Adresse mail</label>
						<input id="mail" type="email" name="mail" placeholder="Votre adresse mail" required>
						{% if error %}
							<p>{{error.mail}}</p>
						{% endif %}
					</div>
					<div>
						<label for="password"></label>
						<input id="password" type="password" name="password" placeholder="Mot de passe">
						<img id="togglePassword" src="/../../assets/imgs/oeil.png" alt="Afficher/Masquer le mot de passe" aria-label="Afficher/Masquer le mot de passe" required>
						{% if error %}
							<p>{{error.Password}}</p>
						{% endif %}
					</div>
					<a href="/forgot-password">Mot de passe oublié ?</a><br>
					<button type="submit">Se connecter</button>
					<section>
						<a href="/register">Essayer gratuitement
							<span>PulseConnect</span>
						</a>
					</section>
				</form>
			</div>
		</section>
	</main>
	{% include "../partials/error.twig" %}

{% endblock %}

{% block script %}
	<script src="/../../assets/js/register.js"></script>
{% endblock %}