{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/../../assets/css/studio.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	{% include "../partials/header.twig" %}
	<div class="header">
		<li>
			<a href="/home" class="back-arrow"><img src="/../../assets/imgs/flecheBack.png" alt="arrowBack"></a>
		</li>
		<h1>Les studios</h1>
	</div>
	<div id="search-container">
		<input type="text" id="search" placeholder="Rechercher une ville ou un studio">
		<button id="searchButton">Rechercher</button>
	</div>
	<div id="map"></div>
	<div id="loading" class="loading">Chargement des studios...</div>
	<div id="directions-container" style="display:none;"></div>

	<div id="destinationModal" class="modal">
		<div class="modal-content">
			<h2>Directions</h2>
			<p id="destinationMessage"></p>
			<div id="directionArrow"></div>
			<button id="closeDestinationModal">Fermer</button>
		</div>
	</div>

	{% include "../partials/error.twig" %}

{% endblock %}

{% block script %}
	<script>
		const MAPBOX_API_KEY = "{{ mapboxApiKey }}";
	</script>
	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
	<script src="/../../assets/js/studio.js"></script>

{% endblock %}
